* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}

.pageHeader {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    font-size: 20px;
}

.pageHeader a {
    text-decoration: none;
}

.pageHeader a:hover {
    opacity: 80%;
}

.newBtn {
    color: white;
    background: red;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

